.banner {
    position: relative;
    height: 40vh;
    background-size: cover;
    background-position: 10% 10%;  
}

.banner:before {
    content:'';
    background:linear-gradient(to top, black, transparent);
    position: absolute;
    left:0;
    height: 40vh;
    width: 100%;
}

.banner-info {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    overflow: hidden;
}

.banner-info-text-box {
    position: absolute;
    width: 100%;
    top: 70px;
}

.banner-info-movie-title {
    width: 30%;
    min-width: 240px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.banner-info-movie-overview {
    width: 20%;
    min-width: 200px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:4
}

.banner-info > * {
    z-index:2;
}

.play-btn {
    position: absolute;
    top:250px;
    width:20%;
    min-width: 200px;
    overflow: visible;
    background-color: red !important;
    border:none !important;
    font-weight: 500 !important;
    margin-top: 25px;
}

.play-btn:hover {
    background-color: rgb(226, 7, 7) !important;
}
