.review-box {
    margin-top: 2%;
    padding: 2%;
    width: 100%;
    border: 2px solid red;
    border-radius: 20px;
    display: flex;

} 

.review-text-box {
    padding: 2%;
    width: 95%;
}

.review-content {
    padding: 3px 0px;
}

.open {
    height: 300px;
    overflow: scroll;
}

.close {
    overflow: hidden;
    height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.review-btn-box {
    margin-left: 1%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.review-btn {
    font-size: 13px;
    max-width: 40px;
    height: 40px;
    font-weight: 800;
    text-align: center !important;
    background-color: red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
}


.review-btn:hover {
    background-color: rgb(227, 0, 0) !important;
}

@media (min-width)