.carousel-container {
    overflow: hidden;
    height: 510px;
}

.movie-list-title {
    color: white;
    position: relative;
    top:10px;
}

.movie-slider {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.slider {
    padding: 10px 50px;
}

@media(max-width:767px) {
    .carousel-container {
        height: 320px;
    }

    .slider {
        padding: 10px 30px;
    }

    .react-multi-carousel-dot  {
        width: 13px;
    }

    .react-multi-carousel-dot-list  .react-multi-carousel-dot button {
        width: 9px;
        height: 9px;
    }

}