/*마우스 올리면 0.5초동안 점진적으로 변화할 수 있게*/
.movie-card {
    height:450px;
    width:300px;
    background-size: cover; 
    background-position: center;
    cursor:pointer;
    transition: 0.5s; 
}

/*투명하게 해서 내용 안보이게 하다가 약간 회색*/
.overlay {
    width: 100%;
    height: 100%;
    background: rgba(43, 41, 41, 0.9); 
    opacity: 0; 
    transition: all 1s;
    color: white;
    font-weight: bold;
    overflow-wrap: break-word;
}

 /* 내용 보이게 */
.overlay:hover {
    opacity: 1;
}

/* 카드 커지게 */
.movie-card:hover {
    transform : scale(1.1) translateZ(20px);
    z-index:2;
}

.movie-title, .movie-info {
    padding: 10px;
}

.movie-info div{
    margin:5px;
}

.average {
    color: rgb(255, 242, 0);
}

.popularity {
    color: rgb(32, 198, 29);
}

.audult {
    font-family: "Bebas Neue", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');