.movie-page-container {
    padding-bottom: 2%;
}

.dropdown-section {
    text-align:center;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 30px;
}

.dropdown-name-section {
    border-radius: 10px;
    width: 100%;
}

.dropdown-name {
    font-size: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown-collapse-section{
    width: 100%;
    border-top: 1px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown-div{
    margin: 10px 0px;   
}

.dropdown-sort {
    margin-top:15px;
}

/*Sort By*/
.sort-label { 
    color: white;
}
 
#uncontrolled-native {
    color:white;
    border-radius: 0;
    border-bottom: 1px solid rgb(255, 0, 0);
}

.dropdown-slider-filter {
    margin-top:15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.from-to-text {
    font-weight: bolder;
    font-size: 24px;
}

.filter-slider {
    width: 80%;
}

.year-filter, .ibm-score-filter {
    border-bottom: 1px solid white;
}

.dropdown-genres-filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.dropdown-genres-filter li {
    margin: 10px;
}

.genres-btn {
    border-radius: 10px;
    padding: 12px;
    font-weight: 900;
    letter-spacing: .2em;
    cursor: pointer;
    background: linear-gradient(to top right, rgb(255, 213, 0), red, black);
    text-shadow: 3px 3px 10px rgba(0,0,0,.45);
}

@media (min-width:993px) {
   .movie-page-container {
        padding-top: 2%;
        /* border: 1px solid red; */
    }

    .sort-and-filter-section{
        position: sticky;
        top: 0px;
        margin-bottom: 7%;
    }
}

.pagination {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.pagination li a {
    border: none;
}

.page-item, .next-page-item, .previous-page-item  {
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 700;
}

.page-link, .next-page-link, .previous-page-link  {
    border-radius: 50%;
    text-decoration: none;
    color: black !important;
}

/* 기본 page 색상 */
.page-item, .page-link {
    background: linear-gradient(45deg,rgb(229, 210, 136),rgb(255, 0, 0), black);
}

/* previos, next page 색상 */
.previous-page-item, .previous-page-link, .next-page-item, .next-page-link { 
    background: linear-gradient(45deg,rgb(255, 140, 0),white);
    padding: 5px;
}

/* active page 색상*/
.active-page-link, active-page-item { 
    background: linear-gradient(45deg,rgb(255, 140, 0),white);
}

/* 페이지 클릭시 포커스 되었을 때 주위에 파란 빛 안나오게  */
.active-page-link {
    box-shadow: none !important;
}

/* 1페이지나  마지막 페이지이면 previous나 next 안보이게*/
.previous-page-item-hidden, .previous-page-link-hidden, .next-page-item-hidden  .next-page-link-hidden {
    padding: 0;
}
  