.review-box {
    margin-top: 2%;
    padding: 2%;
    width: 100%;
    border: 2px solid red;
    border-radius: 20px;
} 

.review-content {
    overflow: hidden; 
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;

}