
.pagination {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.pagination li a {
    border: none;
}

.page-item, .next-page-item, .previous-page-item  {
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 700;
}

.page-link, .next-page-link, .previous-page-link  {
    border-radius: 50%;
    text-decoration: none;
    color: black !important;
}

.page-item, .page-link {
    background: linear-gradient(45deg,red, rgb(255, 140, 0),white);

}

.previous-page-item, .previous-page-link, .next-page-item, .next-page-link { 
    background: linear-gradient(45deg,black, rgb(255, 0, 0),rgb(255, 169, 32));

    padding: 5px;
}

.active-page-link, active-page-item { 
    background: linear-gradient(45deg,black, rgb(255, 0, 0),rgb(255, 169, 32));
}

.active-page-link {
    box-shadow: none !important;
}

.previous-page-item-hidden, .previous-page-link-hidden, .next-page-item-hidden  .next-page-link-hidden {
    padding: 0;
}
  