
.pagination {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.pagination li a {
    border: none;
}

.page-item, .next-page-item, .previous-page-item  {
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 700;
}

.page-link, .next-page-link, .previous-page-link  {
    border-radius: 50%;
    text-decoration: none;
    color: black !important;
}

/* 기본 page 색상 */
.page-item, .page-link {
    /* background: linear-gradient(45deg,black, rgb(255, 0, 0),rgb(255, 169, 32)); */
    background: linear-gradient(45deg,red, rgb(255, 140, 0),white);

}

/* previos, next page 색상 */
.previous-page-item, .previous-page-link, .next-page-item, .next-page-link { 
    background: linear-gradient(45deg,black, rgb(255, 0, 0),rgb(255, 169, 32));

    padding: 5px;
}

/* active page 색상*/
.active-page-link, active-page-item { 
    background: linear-gradient(45deg,black, rgb(255, 0, 0),rgb(255, 169, 32));
}

/* 페이지 클릭시 포커스 되었을 때 주위에 파란 빛 안나오게  */
.active-page-link {
    box-shadow: none !important;
}

/* 1페이지나  마지막 페이지이면 previous나 next 안보이게*/
.previous-page-item-hidden, .previous-page-link-hidden, .next-page-item-hidden  .next-page-link-hidden {
    padding: 0;
}
  