
.navbar {
    background-color: black;
}

/* 부트스트랩 토글 메뉴 선 색상 변경 (stroke='rgba(255, 255, 255, 1)' 부분이 선의 색상을 결정) */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
.link .link:active, .link:focus, .link:visited {
    color: white;
}

.link:hover {
    color:white;
}

.search-input {
    border: none;
    background-color: rgb(43, 43, 43);
}

.search-input::placeholder {
    color: white;
    opacity: 1; /* Firefox에서의 색상 변경을 위해 필요 */
}

.search-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    color: red;
}

.search-icon-box:hover {
    background-color: red;
    color: white;
}

